# 虚拟环境
venv/
.env/
env/

# Python 编译文件
__pycache__/
*.pyc
*.pyo

# IDE 配置
.idea/
.vscode/

# 日志和临时文件
logs/
*.log
tmp/
*.tmp
temps
reports

# 敏感信息
.env
*.secret
*.key

# 操作系统文件
.DS_Store
Thumbs.db


asd.yaml
aaa.py
/reports/
/logs/
/.pytest_cache/
/temps/
/tests/.odd/
